/* start global rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  counter-reset: services;
}
html {
  scroll-behavior: smooth;
}
:root {
  --clr-primary: #2196f3;
  --clr-primary-alt: #1787e0;
  --bg-gray: #ececec;
  --clr-secondary: #666666;
  --light-gray: rgba(128, 128, 128, 0.3);
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
.container {
  padding: 0px 15px;
  margin: 0px auto;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* start main-title */
.main-title {
  margin: 0px auto 80px;
  border: solid 1px black;
  padding: 10px 20px;
  width: fit-content;
  font-size: 30px;
  position: relative;
  z-index: 1;
  cursor: default;
}
.main-title::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  background-color: var(--clr-primary);
  border-radius: 50%;
}
.main-title::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  background-color: var(--clr-primary);
  border-radius: 50%;
}
.main-title:hover {
  color: white;
  border: solid white 1.5px;
  transition-delay: 0.5s;
}
.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
  z-index: -1;
}
.main-title:hover::after {
  animation: right-move 0.5s linear forwards;
  z-index: -1;
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0px;
    height: 100%;
    width: 60%;
  }
}
@keyframes left-move {
  50% {
    left: 0;
    height: 12px;
    width: 12px;
  }
  100% {
    left: 0;
    height: 100%;
    width: 60%;
    border-radius: 0px;
  }
}
/* end main-title */
/* end global rules */
/* header section */
header {
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container > a {
  color: var(--clr-primary);
  font-size: 25px;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
header .container .navbar {
  display: flex;
}
header .container .navbar .link {
  padding: 0px 30px;
  font-size: 18px;
  display: block;
  color: black;
  display: flex;
  align-items: center;
  height: 72px;
  transform: var(--main-transition);
  position: relative;
  overflow: hidden;
}
header .container .navbar .link:hover {
  background-color: #fafafa;
  color: var(--clr-primary);
  transition: var(--main-transition);
}
header .container .navbar .link::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--clr-primary);
  position: absolute;
  top: 0;
  left: -100%;
}
header .container .navbar .link:hover::before {
  display: block;
  left: 0;
  transition: var(--main-transition);
}
@media (max-width: 768px) {
  header .container > a {
    text-align: center;
    height: 50px;
  }
  header .container {
    flex-direction: column;
  }
  header .container .navbar .link {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
header .container .navbar .link:hover + .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(0px + 73px);
  transition: top var(--main-transition), opacity var(--main-transition);
}
/* start mega menu ection */
.mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 140px;
  background-color: white;
  padding: 30px;
  border-bottom: solid 3px var(--clr-primary);
  display: flex;
  gap: 40px;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
.mega-menu .image {
  flex-basis: 50%;
}
.mega-menu .image img {
  max-width: 100%;
}
.mega-menu ul {
  min-width: 220px;
  flex: 1;
}
.mega-menu ul li a {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  display: block;
}
.mega-menu li a i {
  margin-right: 10px;
}
.mega-menu li {
  position: relative;
}
.mega-menu li:not(:last-child):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: var(--light-gray);
}
@media (max-width: 992px) {
  .mega-menu .image {
    display: none;
  }
}
@media (max-width: 768px) {
  .mega-menu {
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    padding: 0px;
  }
  .mega-menu li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--light-gray);
  }
  .mega-menu ul {
    width: 100%;
  }
  .mega-menu ul li a {
    font-size: 15px;
  }
}
/* end mega menu ection */
/* End header section */
/* start landing section */
.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 120px;
}
.landing {
  position: relative;
  min-height: calc(100vh - 72px);
  overflow: hidden;
  display: flex;
  align-items: center;
}
.landing::before {
  content: "";
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-gray);
  z-index: -1;
  transform: skewY(-6deg);
}
.landing .image img {
  width: 600px;
  position: relative;
  animation: up-and-down infinite linear 5s;
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
.landing .text h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.landing .text p {
  font-size: 23px;
  margin-top: 5px;
  line-height: 1.8;
  color: var(--clr-secondary);
}
@media (max-width: 992px) {
  .landing .image img {
    display: none;
  }
  .landing .text {
    text-align: center;
  }
  .landing .text h1 {
    font-size: 28px;
  }
  .landing .text p {
    font-size: 18px;
  }
}
.landing .go-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-primary);
  font-size: 15px;
}
.landing .go-down i {
  position: relative;
  animation: bouncing 1.5s infinite;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
  }
}
/* start articles section */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}
.articles-info .box img {
  max-width: 100%;
}
.articles-info .box {
  border-radius: 5px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  overflow: hidden;
  transition: var(--main-transition);
}
.articles-info .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  transition: var(--main-transition);
}
.articles-info .box .text {
  padding: 20px;
}
.articles-info .box .text p {
  margin-top: 10px;
  color: var(--clr-secondary);
}
.articles-info .box .info {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 0.5px var(--light-gray);
}
.articles-info .box .info a {
  color: var(--clr-primary);
  font-weight: bold;
}
.articles-info .box .info i {
  color: var(--clr-primary);
  font-size: 12px;
  font-weight: 900;
}
.articles-info .box:hover .info i {
  animation: move-arrow infinite 0.6s linear;
}
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}
/* end articles section */
/* start gallery section */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--bg-gray);
}
.gallery .gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery-content .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery-content .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery-content .box .image {
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
.gallery-content .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 0px;
  background-color: rgba(255, 255, 255, 20%);
  opacity: 0;
  z-index: 2;
  transition: var(--main-transition);
}
.gallery-content .box .image:hover img {
  transform: scale(1.1) rotate(5deg);
  transition: var(--main-transition);
}
.gallery-content .box .image:hover::before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
  }
}
/* end galery section */
/* start features section */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.features-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features-content .box {
  text-align: center;
  border: solid 1px var(--light-gray);
  overflow: hidden;
}
.features-content .box img {
  max-width: 100%;
}
.features-content .box .image {
  position: relative;
}
.features-content .box .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(244, 63, 54, 50%);
}
.features-content .box:nth-of-type(2) .image::before {
  background-color: rgb(0, 150, 136, 50%);
}
.features-content .box:nth-of-type(3) .image::before {
  background-color: rgb(3, 169, 244, 50%);
}
.features-content .box .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 0px 170px 400px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features-content .box:hover .image::after {
  border-width: 170px 400px 170px 0px;
  transition: var(--main-transition);
}
.features-content .box h1 {
  font-size: 40px;
  position: relative;
}
.features-content .box h1::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #f44036;
}
.features-content .box:nth-of-type(2) h1::before {
  width: 60px;
  background-color: rgb(0, 150, 136);
}
.features-content .box:nth-of-type(3) h1::before {
  background-color: rgb(3, 169, 244);
}
.features-content .box p {
  line-height: 2;
  color: var(--clr-secondary);
  margin: 30px 0px;
  padding: 25px;
  font-size: 20px;
}
.features-content .box a {
  display: block;
  width: fit-content;
  margin: 0px auto 30px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  transition: var(--main-transition);
}
.features-content .box:nth-of-type(1) a {
  color: #f44036;
  border: solid 3px #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features-content .box:nth-of-type(2) a {
  color: #009688;
  border: solid 3px #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features-content .box:nth-of-type(3) a {
  color: #03a9f4;
  border: solid 3px #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200%;
  background-position: right bottom;
}
.features-content .box:hover a {
  color: white;
  background-position: left bottom;
}
/* end features section */
/* start testimonials section */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--bg-gray);
}
.testimonials-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials-info .box {
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  position: relative;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.testimonials-info .box h3 {
  margin-bottom: 10px;
}
.testimonials-info .box p {
  margin-bottom: 10px;
  color: var(--clr-secondary);
}
.testimonials-info .box .rate .filled {
  color: #ffc107;
}
.testimonials-info .box .description {
  margin-top: 10px;
  color: var(--clr-secondary);
  line-height: 1.8;
}
.testimonials-info .box img {
  padding: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--bg-gray);
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  right: -10px;
}
/* end testimonials section */
/* START TEAM MEMBERS */
.team-members {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.members {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.members .box {
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
.members .box::after,
.members .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
}
.members .box::before {
  width: 85%;
  background-color: #f2f3f2;
  z-index: -2;
}
.members .box::after {
  width: 0%;
  z-index: -1;
  background-color: #e4e4e4;
  transition: var(--main-transition);
}
.members .box:hover {
  transition: var(--main-transition);
  filter: grayscale(1);
}
.members .box:hover::after {
  transition: var(--main-transition);
  width: 85%;
}
@media (max-width: 768px) {
  .members .box::before {
    width: 90%;
  }
  .members .box:hover::after {
    width: 90%;
  }
}
.members .box .data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  gap: 20px;
}
.members .box .data .social {
  flex-basis: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.members .box .data img {
  max-width: 100%;
  border-radius: 10px;
}
.members .box .data i {
  display: block;
  color: var(--clr-secondary);
  cursor: pointer;
}
.members .box .info {
  padding-left: 80px;
}
.members .box .info h3 {
  color: var(--clr-primary);
  margin-top: 22px;
  font-size: 22px;
}
.members .box .info p {
  margin: 10px 0px 25px;
}
/* END TEAM MEMBERS */
/* START SERVICES SECTION */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--bg-gray);
}
.service-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.service-info .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  text-align: center;
  transition: var(--main-transition);
  position: relative;
}
.service-info .box:hover {
  transition: var(--main-transition);
  transform: translateY(-10px);
}
.service-info .box::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 3px;
  background-color: var(--clr-primary);
  transition: var(--main-transition);
}
.service-info .box:hover::before {
  width: 100%;
  transition: var(--main-transition);
}
.service-info .box i {
  color: var(--light-gray);
  margin-top: 30px;
}
.service-info .box h3 {
  margin: 20px 0px 40px;
  color: var(--clr-primary);
  font-size: 25px;
}
.service-info .box .details {
  padding: 15px;
  background-color: #f8f9f8;
  position: relative;
}
.service-info .box .details a {
  display: block;
  text-align: right;
  color: var(--clr-primary);
  font-weight: 400;
}
.service-info .box .details::before {
  counter-increment: services;
  content: "0" counter(services);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  color: white;
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}
.service-info .box .details::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  width: 50px;
  height: 100%;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
}
/* END SERVICES SECTION */
/* STARR SKILLS SECTION */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.our-skills .col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col .image {
  flex-basis: 45%;
}
@media (max-width: 992px) {
  .col .image {
    display: none;
  }
}
.col .image img {
  max-width: 100%;
}
.col .skills {
  flex: 1;
}
.skill-info {
  display: flex;
  justify-content: space-between;
}
.skill-info h3 {
  margin: 18px 0px;
}
.skill-info span {
  height: fit-content;
  margin: auto 0px;
  font-size: 12px;
  color: var(--clr-primary);
  padding: 3px 5px;
  border: solid 1px var(--light-gray);
  border-radius: 4px;
  font-weight: bold;
}
.skills .prog {
  width: 100%;
  height: 30px;
  background-color: var(--light-gray);
  position: relative;
}
.skills .prog .prog-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary);
}
/* END SKILLS SECTION */
/* START WORK SECTION */
.work {
  padding: var(--main-padding-top) 0px var(--main-padding-bottom) 0px;
  background-color: var(--bg-gray);
}
.work .info {
  display: flex;
  align-items: center;
  gap: 30px;
}
.work .info img {
  max-width: 100%;
}
.work-info .box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  padding: 20px;
  border: solid white 2px;
  border-radius: 6px;
  background-color: #f6f5f5;
  position: relative;
  z-index: 1;
}
.work-info .box::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-gray);
  z-index: -1;
  transition: var(--main-transition);
  opacity: 0;
}
.work-info .box:hover::before {
  height: 100%;
  width: 100%;
  transition: var(--main-transition);
  opacity: 1;
}
.work-info .box img {
  width: 64px;
}
.work .info .image {
  text-align: center;
}
.work .info .image,
.work .info .work-info {
  flex-basis: 50%;
}
.work-info .box .text h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
.work-info .box .text p {
  color: var(--clr-secondary);
  line-height: 1.7;
  font-size: 18px;
}
@media (max-width: 992px) {
  .work .info {
    flex-direction: column;
    gap: 60px;
  }
  .work-info .box {
    flex-direction: column;
    text-align: center;
  }
}
/* END WORK SECTION */
/* START EVENTS SECTION */
.events {
  padding: var(--main-padding-top) 0px var(--main-padding-bottom) 0px;
}
.events-info .info {
  display: flex;
  align-items: center;
  gap: 30px;
}
.events-info .info img {
  max-width: 100%;
}
.events-info .info .image {
  flex-basis: 40%;
}
.events-info .info .text {
  flex: 1;
}
.events-info .info .text {
  text-align: center;
}
.events-info .info .text h2 {
  font-size: 30px;
  margin-top: 40px;
}
.events-info .info .text p {
  margin: 20px 0px;
  color: var(--clr-secondary);
  line-height: 1.7;
  font-size: 19px;
}
.info .text .time {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.info .text .time .unit {
  border: solid #d4d4d4 1px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.info .text .time .unit:hover {
  transition: var(--main-transition);
  border: solid 1px var(--clr-primary);
}
.info .text .time .unit span {
  display: block;
}
.info .text .time .unit span:first-child {
  font-size: 35px;
  font-weight: bold;
  color: var(--clr-primary);
  padding: 15px;
}
.info .text .time .unit span:last-child {
  font-size: 12px;
  color: var(--clr-secondary);
  padding: 8px 10px;
  border-top: 1px solid #d4d4d4;
}
.events-info .subscribe {
  margin: 40px auto 20px;
  display: flex;
  justify-content: center;
}

.events-info .subscribe .form {
  flex-basis: 50%;
  padding: 30px 40px;
  background-color: rgb(247, 244, 245);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.events-info .subscribe .form .email {
  flex: 1;
  padding: 20px;
  border-radius: 50px;
  caret-color: var(--clr-primary);
  border: none;
  outline: none;
}
.events-info .subscribe .form .submit {
  padding: 20px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  background-color: var(--clr-primary);
  cursor: pointer;
  border: none;
}
@media (max-width: 992px) {
  .events-info .subscribe .form {
    flex-basis: 100%;
  }
  .events-info .info .image {
    display: none;
  }
}
@media (max-width: 576px) {
  .events-info .subscribe .form {
    flex-direction: column;
    gap: 30px;
  }
}
/* END EVENTS SECTION */
/* START PRICING SECTION */
.pricing {
  padding: var(--main-padding-top) 0px var(--main-padding-bottom) 0px;
  background-color: var(--bg-gray);
}
.plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.plans .box {
  background-color: white;
  text-align: center;
  position: relative;
  z-index: 0;
  transition: var(--main-transition);
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.plans .box::before,
.plans .box::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
  background-color: #f6f5f5;
}
.plans .box::before {
  top: 0;
  right: 0;
  width: 0;
  height: 50%;
}
.plans .box::after {
  bottom: 0;
  left: 0;
  width: 0;
  height: 50%;
}
.plans .box:hover::after,
.plans .box:hover::before {
  transition: var(--main-transition);
  width: 100%;
}
.plans .box:nth-of-type(2) {
  transform: translateY(-20px);
}
.plans .box .title {
  font-size: 25px;
  margin: 30px 0px;
  font-weight: bold;
}
.plans .box .price {
  color: var(--clr-primary);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
}
.plans .box span {
  color: var(--clr-secondary);
  font-size: 16px;
}
.plans .box img {
  width: 80px;
  margin-bottom: 30px;
}
.plans .box .info ul {
  margin: 20px 0px;
  text-align: left;
}
.plans .box .info ul li {
  border-top: solid 0.5px #eee;
  padding: 20px;
  font-size: 16px;
}
.plans .box .info ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  color: var(--clr-primary);
  font-weight: 900;
  margin-right: 10px;
}
.plans .box a {
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto 40px;
  color: var(--clr-primary);
  background-color: white;
  border: solid 2px var(--clr-primary);
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}
.plans .box a:hover {
  transition: var(--main-transition);
  background-color: var(--clr-primary);
  color: white;
}
.plans .box .label {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--clr-primary);
  writing-mode: vertical-lr;
  padding: 10px 10px 35px;
}
.plans .box .label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  transform: translateX(10px);
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white transparent;
}
@media (max-width: 768px) {
  .plans {
    gap: 60px;
  }
}
/* END PRICING SECTION */
/* START VIDEO SECTION */
.video {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.video-info {
  display: flex;
  flex-wrap: wrap;
}
.video-info .video-content {
  flex-basis: 30%;
  border: solid 1px var(--bg-gray);
  border-right: none;
}
.video-info .preview {
  flex: 1;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.preview img {
  max-width: 100%;
}
.preview .description {
  background-color: white;
  padding: 20px;
}
.video-content .name {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f4;
  font-weight: bold;
}
.video-content .name h3 {
  font-size: 16px;
}
.video-content .list li {
  padding: 20px;
  border-top: var(--bg-gray) solid 1px;
  transition: var(--main-transition);
  cursor: pointer;
}
.video-content .list li:hover {
  transition: var(--main-transition);
  background-color: #fafafa;
}
.video-content .list li:hover p {
  color: var(--clr-primary);
  transition: var(--main-transition);
}
.video-content .list li p {
  margin-bottom: 10px;
  transition: var(--main-transition);
}
.video-content .list li span {
  color: var(--clr-secondary);
}
@media (max-width: 992px) {
  .video-info .preview,
  .video-info .video-content {
    flex-basis: 100%;
  }
}
/* END VIDEO SECTION */
/* START STATS SECTION */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-image: url(/Assets/stats.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
}
.stats::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}
.stats h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  position: relative;
}
.stats-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}
.stats-info .box {
  font-weight: bold;
  padding: 30px 15px;
  background-color: white;
  border-radius: 6px;
  position: relative;
}
.stats-info .box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3px;
  height: 0px;
  background-color: var(--clr-primary);
  transition: 1s;
}
.stats-info .box:hover::before {
  transition: 1s;
  height: 100%;
}
.stats-info .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 0px;
  background-color: var(--clr-primary);
  transition: 1s;
}
.stats-info .box:hover::after {
  transition: 1s;
  height: 100%;
}
.stats-info .box i {
  font-size: 32px;
}
.stats-info .box p {
  font-size: 50px;
  margin: 10px 0px;
}
.stats-info .box span {
  font-size: 20px;
  color: var(--clr-primary);
}
/* END STATS SECTION */
